<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为IUserDao接口方法提供sql语句配置 -->
<mapper namespace="SearchJob.dao.AdminDao">

   <!-- <select id="getAllUser" parameterType="user" resultMap="SearchJob.pojo.User">
        SELECT * FROM user
        <trim prefix="where" prefixOverrides="and | or">
        <if test="userId!=null">userId=#{userId}</if>
        <if test="userName!=null and userName!=''">and userName=#{userName}</if>
        <if test="passWord!=null">and passWord=#{passWord}</if>
        <if test="userPower!=null and userPower='1'">and userPower=#{userPower}</if>
        </trim>
    </select>-->
    <select id="findByAdminNameAndPassWord"  resultType="SearchJob.pojo.Admin">
        SELECT * FROM admin where adminName=#{adminName} and adminPwd=#{adminPwd}

    </select>
    <select id="InsertUser" parameterType="SearchJob.pojo.User">
        insert  into user(`userName`,`userPwd`,`userPower`) values (#{userName},#{userPwd},#{userPower})
    </select>
    <select id="findByUserId" parameterType="Integer" resultType="SearchJob.pojo.User">
        select * from user where userId=#{userId}
    </select>
</mapper>